body {
    background-image: -webkit-linear-gradient(top,#0033ff 0,#69c5ff);
    background-image: -o-linear-gradient(top,#0033ff 0,#69c5ff 100%);
    background-image: linear-gradient(180deg,#0033ff 0,#69c5ff);
    /*background-repeat: repeat-x;*/
}
.btn-primary, .btn-primary:hover {
    background-image: -webkit-linear-gradient(left,#0033ff 0,#69c5ff);
    background-image: -o-linear-gradient(left,#0033ff 0,#69c5ff 100%);
    background-image: linear-gradient(90deg,#0033ff 0,#69c5ff);
    background-repeat: repeat-x;
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFF6975",endColorstr="#FFFF0060",GradientTyp#0033ff 0,#69c5ff);
*/
}
